<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="{{ .Site.Author.name }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<link rel="canonical" href="{{ .Permalink }}" />
	{{- if .Site.Params.favicon -}}
	<link rel="apple-touch-icon" href="{{ .Site.Params.favicon }}" />
	<link rel="icon" href="{{ .Site.Params.favicon }}" />
	<link rel="shortcut" href="{{ .Site.Params.favicon }}" />
	{{- end -}}
	<link rel="alternate" type="application/atom+xml" href="{{.Site.BaseURL}}index.xml" title="{{ .Site.Title }}">
	{{ partial "seo" . }}
	{{- if .IsHome -}}
	<title>{{ .Site.Title }}</title>
	<meta property="og:title" content="{{ .Site.Title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ .Site.Params.description }}" />
	<meta name="description" content="{{ .Site.Params.description }}" />
	{{- else -}}
	<title>{{ .Title }}</title>
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{ default .Summary .Description | plainify }}" />
	<meta name="description" content="{{ default .Summary .Description | plainify }}" />
	{{- end }}
	<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
	{{- if .Params.album -}}
	<meta property="og:image" content="{{ .Params.album }}" />
	{{- else -}}
	<meta property="og:image" content="{{ .Site.Params.favicon }}" />
	{{ end }}
	<link href="{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />	
	<!--	css 	-->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" />
	<link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Code&family=Merriweather&family=Bungee+Shade&display=swap" />
	{{ $structure := resources.Get "css/structure.scss" | resources.ToCSS | fingerprint }}
	{{ $fing := $structure | resources.Fingerprint "sha512" }}
	<link rel="stylesheet" href="{{ $structure.Permalink }}" integrity="{{ $fing.Data.Integrity  }}" media="screen" />
	{{ $styles := resources.Get "css/index.css" | minify }}
	<link rel="preload" as="style" href="{{ $styles.Permalink }}" media="screen" />
	<link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="/fonts/fontawesome/css/all.css" />
	<!--	external assets referenced in front matter  -->
	{{ range .Params.assets.css -}}
	<link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="{{ . | absURL }}" />
	{{- end }}
	{{ range .Params.assets.js -}}
	<script defer src="{{ . | absURL }}"></script>
	{{- end }}
	<script id="dsq-count-scr" src="//fukt.disqus.com/count.js" defer async></script>
	<!--	page bundle assets	-->
	{{ $stylesheets := .Resources.Match "*.css" }}
	{{ range $stylesheets }}
	<link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="{{ .RelPermalink }}" />
	{{ end }}
	{{ with .Resources.GetMatch "*.js" }}
	<script type="text/javascript" src="{{ .RelPermalink }}" async defer></script>
	{{ end }}
	<script type="module" src="/js/universal.mjs"></script>
	{{ with .Resources.GetMatch "index.mjs" }}
	<script type="module" src="{{ .RelPermalink }}"></script>
	{{ end }}
</head>

<body>
	{{/* partial "header.html" . */}}
	{{ block "main" . }}
	{{/* partial "footer.html" . */}}
</body>

</html>