{{ define "main" }}

<article class="post" id="article">
	
	<header class="post-header">
		<h1 class="post-title">{{ .Title }}</h1>
		{{ if in .Site.Params.mainSections .Type }}
			{{ if .Date }}
			<time class="post-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">
				{{ .Date.Format "02 Jan 2006" }}
			</time>
			{{ end }}
		{{ end }}
	</header>

	<div class="post-content markdown-body">
		{{ .Site.Params.postHeaderContent | safeHTML }}
		{{ .Content }}
	</div>

	{{ partial "disqus.html" . }}

	<footer>

		<div class="tags">
		{{ range .Params.tags }}
			<a href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/">{{ . }}</a>
		{{ end }}
		</div>

		{{ if in .Site.Params.mainSections .Type }}

			{{ if .Site.Params.postAds }}
				<div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
			{{ end }}

			{{ if .Site.Params.disqus }}
				<div class="post-comments"></div>
			{{ end }}

		{{ end }}
	</footer>

</article>

{{ end }}