pre.code {
	background-color: var(--wash);
	border: 1px solid var(--accentuate)
}

pre.code>code.json {
	padding-bottom: 1em;
	display: block
}

p>code,
li>code {
	color: var(--hershey);
}

code,
pre {
	tab-size: 2;
	font-family: 'Fira Code', monospace
}

pre {
	padding: 1em;
	background-color: var(--wash);
	border-radius: var(--radius);
	border-width: 1px;
	overflow-x: auto
}

.cmd > code:before {
	content: "$ ";
}

/*
 * great idea, but I hate the effect
div.hightlight:hover,
pre:hover {
	width: max-content;
	min-width: inherit;
}
*/