pre {
	padding: 1em;
	background-color: var(--wash);
	border-radius: var(--radius);
	border-color: var(--accentuate);
	border-width: 1px;
	border-style: solid;
	overflow-x: auto;
}


pre.code {
	background-color: var(--wash);
	border-width: 1px;
	border-color: var(--accentuate);
}

pre.code > code.json {
	padding-bottom: 1em;
	display: block
}

p>code, li>code {
	color: var(--hershey);
}

code,
pre {
	tab-size: 2;
	font-family: 'Fira Code', monospace
}



.cmd > code:before {
	content: "$ ";
}

/*
.cmd {
	border: 1px solid var(--wash);
}
*/

/*
 * great idea, but I hate the effect
div.hightlight:hover,
pre:hover {
	width: max-content;
	min-width: inherit;
}
*/