table th,
table td {
	border: 2px solid;
	padding: 0.5rem;
	line-height: 1.25;
}

table th {
	background-color: var(--wash);
}

table {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;	
}