{{ $curLanguageName := .Site.Language.LanguageName }}
<header>

	<h1 class="header-title">
		<a href="{{ .Site.LanguagePrefix }}/">{{ or .Site.Params.headTitle .Site.Author.name }}</a>
	</h1>
	<h2 class="header-subtitle">[ {{ .Site.Params.Description }} ]</h2>

	<aside class="socials">
		{{ range .Site.Params.socials }}
		<div class="header-item">
			<a href="{{ .link }}" target="_blank" title="{{ .name }}">{{ .icon | safeHTML }}</a>
		</div>
		{{ end }}
	</aside>

	<hr class="header-line" />

	{{- if not .IsHome -}}
	<nav class="breadcrumb">
		<a href="/">🏠</a>
		{{ $rellink := "" }}
		{{ range (split .RelPermalink "/") }}
		{{ if gt (len . ) 0 -}}
			{{ $rellink = printf "%s/%s" $rellink . }}
			<a href="{{ $rellink }}">{{ humanize . }}</a>
		{{ end }}
		{{ end }}
	</nav>
	{{- end }}

</header>