<script type="application/ld+json">
	{{ if .Params.semantic -}}
	{{ .Params.semantic }}
	{{- else -}}
	{
		"@context" : "http://schema.org",
		{{ if .IsHome -}}
		"@type" : "Blog",
		{{- else -}}
		"@type" : "BlogPosting",
		{{- end }}
		{{ if .Section -}}
		"articleSection" : "{{ .Section }}",
		{{- end }}
		"name" : "{{ .Title }}",
		"headline" : "{{ .Title }}",
		{{ if .IsHome -}}
		"description" : "{{ .Site.Params.description | plainify }}",
		{{ if (gt (.Site.Params.tags | len) 0 ) }}
		"keywords" : {{ .Site.Params.tags }},
		{{ end }}		
		{{- else -}}
		"description" : "{{ default .Summary .Description | plainify }}",
		{{ if isset .Params "tags" }}
		"keywords" : {{ .Params.tags }},
		{{ end }}		
		{{- end }}

		"inLanguage" : "en-CA",
		"author" : [{
			"@type": "Person",
			"name": "{{ .Site.Author.name }}",
			"url": "https://seanmacdonald.ca/about"
		}],
		"datePublished": "{{ .Date }}",
		"dateModified" : "{{ .Date }}",
		"url" : "{{ .Permalink }}"
	}
	{{- end}}
</script>
