{{ define "main" }}
<article class="summaries">
	{{ range $.Site.Home.Sections }}
	<div class="summary">
		<h2>{{ .Title }}</h2>
		{{ range .Pages }}
			<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
			<p>{{ .Summary }}</p>
			<time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
		{{ end }}
	</div>
	{{ end }}
	<div class="summary">
		<h3><a href="/tags/">Tags</a></h3>
		<p>View a graph of tags and posts</p>
	</div>
	<div class="summary">
		<h3><a href="/about/">About me</a></h3>
	</div>
</article>
{{ end }}