{{ define "main" }}
	<article class="posts">
		<div class="row">
			<div class="col-xs-12">
				{{ partial "header.html" . }}
				<div id="posts-list">
					{{ range $.Site.Home.Sections }}
					<section>
						<h1 class="site-date-catalog">{{ .Title }}</h1>
						{{ range .Pages }}
						<div class="row posts-line">
							<div class="posts-title col-xs-9 col-sm-12">
								<div class="row">
									<div class="col-xs-10 col-sm-10">
										<a href="{{ .RelPermalink }}">{{ .Title }}</a>
									</div>
									<div class="col-xs-2 col-sm-2 posts-categories notsuperimportant">
										<time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
									</div>
								</div>
							</div>
						</div>
						{{ end }}
					</section>
					{{ end }}
				</div>
				{{ partial "footer.html" . }}
			</div>
		</div>
	</article>
{{ end }}